.wrapper{
       width: 500px;
    background: #00e7ff;
    margin-left: 175px;
    height: 170px;
}

.form-wrapper{
    text-align: center;
}

.label{
    margin-bottom: 20px;
    padding-top: 8px;
    font-size: 21px;
    }
.loginbtn{
    width: 47px;
    margin-top: -9px;
    font-size: 12px;
    border-bottom-color: darkcyan;
    color: black;

}
.newuserbtn{
     background: dark blue;
         color: black;
         width: 65px;
             border-bottom-color: darkcyan;


}
